


 /*----------------------------*/
 /*                            */
 /*  EDIT THIS FILE TO APPLY   */
 /*  YOUR DESIRED STYLE!       */
 /*                            */
 /*----------------------------*/



/*--------- BACKGROUND ---------------------*/

html { 
	/*koko sivun tausta on valkoinen.
	Muuta haluamaksesi*/
	background: mediumpurple; 
	font-family: 'Kanit', sans-serif;
	color:#B3B2AE;

	/*Jos määrität html-tagissa fontteja, 
	taustavärejä tai tekstin värejä,
	samat määritykset tulevat kaikkiin sisällä oleviin
	elementteihin. Näin voit määrittää esim. koko sivun 
	fontit, värit ym. ja sitten muuttaa haluamissasi
	elementeissä tyylin toiseksi.*/


}

body { 
	
	/*Kaiken sisällön ympärillä on body. 
	Voit muuttaa myös bodyn taustaväriä tai
	esim. lisätä paddingin, jotta elementit eivät 
	olisi reunassa kiinni.*/
	
	/*Tällä koodilla voit tehdä niin, että yli 900px
	leveässä näytössä body-tagi jää vain 900px leveäksi,
	ja reunoille jää tyhjää. Voit muuttaa tätä miten haluat.*/
	max-width: 1106px;
	margin: auto; /*tämä keskittää body-tagin sivusuunnassa*/
	padding: 17px;
	background: #3E2B6D;
}

/*--------- HEADER ---------------------*/

/*Header text on top of the menu*/
header h1 { 
	/*Pääotsikko*/

	/*Täällä kannattaa muokata background-, color- 
	font-size- ja font-family-arvoja.*/

	/*Laita myös ja marginaalit paddingit paremmin, 
	niin näyttää tyylikkäämmältä */

	/*Voit halutessasi myös esim. keskittää otsikon (text-align: center;)*/

	font-size: 55px;
	font-family: 'Kanit', sans-serif;
	color: #F48B5E;
	text-shadow: 2px 2px white;
	margin-left: 60px;


}

/*--------- MAIN MENU ---------------------*/

/*Menu*/
#main-menu { 
	list-style-type: none; 
	display: flex; 
	flex-wrap:wrap; 
	justify-content: space-around;
	margin-top: 50px;

}
	
	/*Voit tehdä tästä flexboxin, 
	niin valikon napit menevät vierekkäin*/

	/*Laita tässä ja marginaalit paddingit paremmin, 
	niin näyttää tyylikkäämmältä */
	
	/*Voi muokata täällä myös background-, color-arvoja.*/
		

/*Menu item*/
#main-menu li {
	/*Laita tässä ja marginaalit paddingit paremmin, 
	niin näyttää tyylikkäämmältä */

	/*Voi muokata täällä myös background-, color-arvoja.*/
	padding: 5px;
}
.fontit{
	font-size: 20px;
	margin-right: 3px;
	margin-top: 20px;
}

/*Link in menu item*/
#main-menu a { 

	text-decoration: none; /*poistaa linkin alleviivauksen*/
	color: #B3B2AE ;
	font-size: 17px;

	/*Voi muokata täällä myös background-, color- 
	font-size- ja font-family-arvoja.*/

}

/*Menu item when mouse over*/
#main-menu a:hover { 
	
	/*Tässä määritellään, miltä valikon linkki näyttää, 
	kun kursori on sen päällä. Muuta paremmaksi */
	color: palevioletred; 
	background: blueviolet; 
}

/*------- ARTICLE BUTTONS -------------------*/
/*Button in end of each article*/
.button { 
	/*saatat haluta tehdä napista aika samanlaisen
	kuin valikkolinkit, mutta toisenlainenkin 
	voi olla ihan tyylikäs*/

	/*Voi muokata täällä myös background-, color- 
	font-size- ja font-family-arvoja.*/
	
	/*Tämä on a-elementti, ja se on oletuksena 
		display: inline; 
	Siksi sen kokoa tai paikkaa ym. ei voi muuttaa.
	Jotta nappia on helpompi käsitellä, voi muuttaa sen 
		display: block;
		
	Ymmärtääksesi paremmin mitä on block ja inline ym., 
	katso tämä video: https://www.youtube.com/watch?v=9T8uxp5hQ60	
	*/

	/*Tällä koodilla saat fancyn varjon :) 
		box-shadow: 0px 2px 10px rgba(0,0,0,50%); 
	*/
	font-size: 15px;
	display: block;
	width: 50px;
  	margin: auto;
	text-shadow: 2px 2px rgb(115, 94, 206);
	padding:10px;
	

}


/*Button when mouse over*/
.button:hover { 
	/*Tässä määritellään, nappi näyttää, 
	kun kursori on sen päällä. Muuta paremmaksi */
	color: palevioletred;
  background: blueviolet;
  font-size: 20px;
  transform: scale(1.2); /* Lisätään skaalaus */
  transition: transform 0.3s ease-in-out; /* Animaationopeus ja tyyli */
  transform-origin: center center; /* Kiertopisteen keskelle */
  animation: spin 2s linear infinite; /* Pyöritysanimointi */
  font-family: 'Fira Sans', sans-serif;
  padding:30px;
  transition: 1s padding;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

	/*Voit halutessasi laittaa vaikka koko 
	artikkelin muuttumaan jotenkin hiukan, 
	kun sen päällä on kursori.. :) */


/*--------- ARTICLES ---------------------*/

/*Artikkeleiden ympärillä*/
main {
	/*Kaikki "artikkelit" ovat main-tagin sisällä.
	Jos pidät tämän flexboxina, artikkelit menevät
	vierekkäin leveässä näytössä. 
	ja sitten artikkeleihin (ks. alla) esim. ,
	jolloin artikkelit asettuvat vierekkäin.*/
	
	display: flex; flex-wrap:wrap; justify-content: center;
	padding-top: 45px;
}

/*Frame of each "article"*/
article {
	max-width: 300px; /*Jos main on flexbox, 
	tämä tekee sen, että "artikkelit" mahtuvat vierekkäin.*/
	
	/*Yksittäisen artikkelin tausta:
	Saatat haluta  muokata täällä background-, color- 
	sekä font-size- ja font-family-arvoja.*/

	/*Tärkeää: Laita tässä marginaalit ja paddingit paremmin, 
	niin näyttää tyylikkäämmältä! Teksti, kuva ym. ei saa olla 
	reunaan asti, vaan reunassa pitää olla marginaali (teknisesti
	margin tai padding).*/
	padding: 30px;
}



/*article title*/
article h2 { 
	display:inline-flexbox
	vertical-align: top;
	color: #F48B5E;
	.fancy{color:#F48B5E}
	text-align: center;
	padding:10px;


	/*Yksittäisen artikkelin otsikko*/

	/*Kannattaa muokata täällä background-, color- 
	font-size- ja font-family-arvoja.*/

	/*Saatat haluta muokata täällä myös 
	background-, color-, margin- ja padding-
	font-size- ja font-family-arvoja.*/


}


/*article text*/
article p { 
	/*Artikkelin pienempi teksti*/

	/*Saatat haluta muokata täällä 
	background-, color-, margin- ja padding-
	font-size- ja font-family-arvoja.*/
	.jee{color: #B3B2AE;}
}


/* "Images" */
.article-image-frame {
	width: 100%;
	margin: 0px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.article-image { 
     /*Tämä tekee sen, että kuva ei mene yli reunasta.*/

	/*Kuva voi olla koko artikkelin levyinen tai pienempi. 
	Esim. alla olevalla kuvasta tulisi pienempi (=50%)
	ja teksti kiertää kuvaa (=float):
		width: 50%;
		min-width: 150px;
		float: left; 
	*/
	width: 250px;
	height: 300px;
	object-fit: cover;
	border-radius: 45px;
}	

/*-------- FOOTER ---------------*/

footer {
	/*Kannattaa laittaa footeriin vähintään padding 
	ja ehkä eri taustaväri, jotta se erottuu hiukan.*/
	padding-bottom: 40px;
	background-color: mediumorchid;
	
}
.loppu{
	color:indigo;
	font-size: large;

}

